<!DOCTYPE html>
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://v3.bootcss.com/docs-assets/ico/favicon.png">

    <title>收藏管理</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template
    <link href="http://v3.bootcss.com/examples/offcanvas/offcanvas.css" rel="stylesheet">-->
    <link href="/static/css/offcanvas.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
  </head>

<SCRIPT LANGUAGE=javascript> 
</SCRIPT> 


<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">收藏管理</a></li>
            <li><a href="#">About</a></li>
            <li class="pull-right"><a href="#">logout</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="/" class="list-group-item active">返回主页</a>
            <a href="/fav_add" class="list-group-item active">添加收藏</a>
          </div>
        </div><!--/span-->
        
        
         <div class="col-xs-12 col-sm-10">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          
        <div class="">
        <form action="/fav_search" method="post">
           <div class="form-group">
           <label for="exampleInputEmail1">关键字查找</label>
           <input type="keyword" class="form-control" id="keyword" name="keyword" placeholder="">
           </div>
           <button type="submit" class="btn btn-success">搜索</button>
        </form>

          </div>
         <hr>	

          <div class="">
		   <table class="table table-striped">
		   <thead>
			   <tr>
			   <th>#</th>
		       <th>任务名称</th>
               <th>添加时间</th>
			   </tr>
			</thead>
		    <tbody>
                    {{ range .favs }}
                    <tr>
                        <td> {{ .ID }} </td>
                        <td><a href="{{ .Url  }}" target="_blank">{{ .Title  }}</a></td>
                        <td>{{ .CreatedAt.Format "2006年01月02日 15:04" }}</td>
                    </tr>
                    {{ end }}
			</tbody>
		    </table>
           {{ if .isIndex }} 
           <ul class="pagination">
             <li class="page-item"><a class="page-link" href="?page={{ .PageP }}">Previous</a></li>
             <li class="page-item"><a class="page-link" href="#">{{ .page }}/{{ .pageCount }}</a></li>
             {{ if .nextPage }}
               <li class="page-item"><a class="page-link" href="?page={{ .PageN  }}">Next</a></li>
             {{ end }}
            </ul>
            {{ end }}
          </div>



        </div><!--/span-->
        
        
        
      </div><!--/row-->

      <footer>
        <p>© Company 2023</p>
      </footer>

    </div><!--/.container-->


    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
  

</body></html>
